<a href="https://colab.research.google.com/github/wendywqz/Pandas_Series_exercises/blob/main/Pandas_Series_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
print(pd.__version__)

2.1.4

In [ ]:
basket=pd.Series(['apple','banana','blueberry'])
basket

0        apple
1       banana
2    blueberry
dtype: object

In [ ]:
# Given the X python list convert it to an Y pandas Series
X = ['A','B','C']
print(X,type(X))
Y = pd.Series(X)
print(Y,type(Y))

['A', 'B', 'C'] <class 'list'>
0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

In [ ]:
# Given the X pandas Series, name it 'My letters'
X = pd.Series(['apple','banana','blueberry'])

X.name = 'My letters'
X

0        apple
1       banana
2    blueberry
Name: My letters, dtype: object

In [ ]:
# This is an empty pandas Series
pd.Series()

Series([], dtype: object)

In [ ]:
#Given the X pandas Series, show its values
X = pd.Series([1,2,3])
X.values

array([1, 2, 3])

# ***Series indexation***

In [ ]:
# Assign index names to the given X pandas Series

X = pd.Series(['A','B','C'])
index_names = ['first','second','third']

X.index = index_names
X

first     A
second    B
third     C
dtype: object

In [ ]:
#Given the X pandas Series, show its first element

X = pd.Series(['cat','dog','fish'], index = ['1st','2nd','3rd'])

# X[0] # by position
# X.iloc[0] # by postion
X['1st'] # by index

# The differences between these three codes need to be clarified.

'cat'

In [ ]:
# Continue with the previous Series: given the X pandas Series, show its last element
X = pd.Series(['cat','dog','fish'], index = ['1st','2nd','3rd'])

# X[-1] # by position
# X.iloc[-1] # by position
X['3rd'] # by index

'fish'

In [ ]:
# Given the X pandas Series, show all middle elements

X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

# X['second':'forth'] # by position
# X.iloc[1:-1] # by position
X[1:-1]

second    B
third     C
forth     D
dtype: object

In [ ]:
 X.name = 'My letters'
 #X['second':'forth']
 X[['second','third','forth']]

# Why there should be two [] with the index?

second    B
third     C
forth     D
Name: My letters, dtype: object

In [ ]:
# Given the X pandas Series, show the elements in reverse postion
 X = pd.Series(['A','B','C','D','E'],
     index = ['1st','2nd','3rd','4th','5th'])

#X[4::-1]
#X.iloc[::-1]
X.name = 'My letters'
X[::-1]

5th    E
4th    D
3rd    C
2nd    B
1st    A
Name: My letters, dtype: object

In [ ]:
# Given the X pandas Series, show the first and last elements

X = pd.Series(['A','B','C','D','E'],
              index=['1st','2nd','3rd','4th','5th'])

print(X[['1st','5th']])
print(X.iloc[[0,-1]])  # double []
(X[[0,-1]])

1st    A
5th    E
dtype: object
1st    A
5th    E
dtype: object

<ipython-input-22-c1e83a004295>:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  (X[[0,-1]])

1st    A
5th    E
dtype: object

# ***Series manipulation***

In [ ]:
# Convert the given integer pandas Series to float
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

pd.Series(X, dtype=float)
# `np.float` was a deprecated alias for the builtin `float`. To avoid this error in existing code, use `float` by itself.

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

In [ ]:
# Reverse the given pandas Series (first element becomes last)

X = pd.Series([1,2,3,4,5],
              index = ['1st','2nd','3nd','4th','5th'])
X [::-1]

5th    5
4th    4
3nd    3
2nd    2
1st    1
dtype: int64

In [ ]:
# Order (sort) the given pandas Series

X = pd.Series(['cat','banana','dog','apple','zog'],
              index=['forth','second','fifth','first','third'])

X = X.sort_values() #it also sorts out the Series value by alphabetical
X

first      apple
second    banana
forth        cat
fifth        dog
third        zog
dtype: object

In [ ]:
#Given the X pandas Series, set the fifth element equal to 10

X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X.iloc[4] = 10  # X[4] = 10
#X[4]*2  THIS DOESN'T WORK
X
#

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [ ]:
# Given the X pandas Series, change all the middle element to 0

X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

# X[1:-1] = 0
X[1:-1] = X[1:-1] * 2 # Multiply only the middle elements by 2
X

A    1
B    4
C    6
D    8
E    5
dtype: int64

In [ ]:
# Given the X pandas Series, add 5 to every element

X = pd.Series([1,2,3,4,5])

X+ 5
#

0     6
1     7
2     8
3     9
4    10
dtype: int64

# ***Series boolean arrays (also called masks)***

In [ ]:
# Given the X pandas Series, make a mask showing negative elements.

X = pd.Series([-1, 2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
mask
# This will show 'True'/ 'False' according each value.

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

In [ ]:
# Given the X pandas Series, get the negative elements.

X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
X[mask]
# This will show only the value below or equal to 0.

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

In [ ]:
# Given the X pandas Series, get numbers higher than 5.

X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > 5
X[mask]
#

5     6
9    10
dtype: int64

In [ ]:
# Given the X pandas Series, get numbers higher than the elements mean.

X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
print(X.mean())
mask = X > X.mean()
X[mask]
#

0.9

1     2
4     5
5     6
9    10
dtype: int64

In [ ]:
# Given the X pandas Series, get numbers equal to 2 or 10.

X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = (X ==2) | (X == 10)
X[mask]
# It will find out the order number of the X whose value equal to 2 or 10.

1     2
9    10
dtype: int64

# ***Logic  functions***

In [ ]:
# Given the X pandas Series, return True if none of its elements is zero.

X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.all()
#

False

In [ ]:
# Given the X pandas Series,  return True if any of its elements is zero

X = pd.Series([3,5,6,7,2,3,4,9,4])

X.any()
#

True

# ***Summary statistics***

In [ ]:
#Given the X pandas Series, show the sum of its elements

X = pd.Series([3,5,6,7,2,3,4,9,4])

X.sum()
#

43

In [ ]:
# Given the X pandas Series, show the mean value of its elements

X = pd.Series([1,2,0,4,5,6,0,0,9,10])

X.mean()
#

3.7

In [ ]:
# Given the X pandas Series, show the max value of its elements

X = pd.Series([1,2,0,4,5,6,0,0,9,10])

X.max()
#

10